.avatar {
    width: 20rem;
    height: auto;

    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    place-self: center;

    @media (max-width: 768px) {
        width: 10rem;
        height: auto
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.greeting-container {
    // min-height: 100vh;
    // min-height: 100dvh;
}

.greetings {
    display: flex;
    gap: 2rem;

    padding: 3rem 0;

    .i-am {
        font-size: 5rem;
        font-weight: 900;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 2.5rem;

        }
    }

    p {
        font-size: 2rem;
        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.summary {
    // font-size: 1.33rem;
}

.social {
    display: inline-flex;
    gap: .5em;

    align-items: center;
    align-content: center;

    font-size: inherit;
}
