.bar {
    width: 100%;
    background-color: var(--bg-2-col);
    height: .75em;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        width: calc(var(--progress) * 1%);
        background-color: currentColor;
    }
}
