<div>
    <app-header *ngIf="isHeaderVisible()"></app-header>
    <router-outlet></router-outlet>
</div>
<footer class="page-container">
    <div class="page-content">
        <p>
            ©{{ getCopyrightYears() }} Alex Hryshan. This web page is built
            with Angular and its source code is available on
            <a href="https://github.com/nightingazer/portfolio-simple" target="_blank">Github</a>
        </p>
        <div class="social">
            <a href="www.linkedin.com/in/alex-hryshan">
                <app-icon icon="linkedin-logo"></app-icon>
            </a>
            <a href="https://github.com/nightingazer">
                <app-icon icon="github-logo"></app-icon>
            </a>
            <a href="https://twitter.com/fancybodyhole_">
                <app-icon icon="twitter-logo"></app-icon>
            </a>
        </div>
    </div>
</footer>
